/*================================
color
===============================*/
$base-color: #4A3636;
$main-color:#67b0c7;
$main-color2:#E9F6F8;
$main-color3:#9ED0E0;
$accent-color:#FFEE56;
$accent-color2:#CE2073;
$accent-color3:#F5F5F5;




  

 