/*================================
font
===============================*/
$font-ja: "Noto Sans JP", sans-serif;
$font-en: "Courgette", serif;
$font-en2: "Kiwi Maru", serif;
$font-en3: "Josefin Sans", serif;