@use "mixin";
@use "color";
@use "font";

/*================================
infomation
===============================*/
.infomation {
  padding: 10px 0px 110px;
  max-width: 1024px;
  margin: 0 auto;
  @include mixin.mq(tab) {
    padding: 10px 40px 110px;
    max-width: 100%;
  }
  @include mixin.mq(sp) {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 95%;
  }
}

.infomation__inner {
}

.infomation__wrapper {
  background: #fff;
  padding: 5px;
}

.infomation__container {
  padding: 26px 56px 40px 56px;
  background: rgba(233, 246, 248, 0.5);
  @include mixin.mq(tab) {
    padding: 30px 40px;
  }
  @include mixin.mq(sp) {
   padding: 0 20px 0;
  }
}

.infomation__heading {
    text-align: center;
    @include mixin.mq(sp) {
     padding-top: 18px;
  }
}

.infomation__heading-sub-title {
  margin-top: 8px;
  @include mixin.mq(sp) {
    margin-top: 6px;
  }
}

.infomation__heading-title {
  margin-top: 8px;
  padding-bottom: 3px;
  @include mixin.mq(sp) {
    margin-top: 6px;
  }
}

.infomation__items {
  margin-top: 32px;
  @include mixin.mq(sp) {
    margin-top: 14px;
  }
}

.infomation__item {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  &:nth-last-child(1) {
    border-bottom: none;
  }
  @include mixin.mq(sp) {
    flex-direction: column;
    padding: 12px 0;

    & + & {
        margin-top: 5px;
    }
  }
}

.infomation__left {
  width: 240px;
  color: color.$base-color;
  font-family: font.$font-ja;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6;
  padding-left:1em;
  @include mixin.mq(tab) {
    width: 240px;
  }
  @include mixin.mq(sp) {
    width: 100%;
    padding-left: 0;
    font-size: 1.4rem;
  }
}
.infomation__left::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: color.$main-color3;
}
.infomation__right {
  width: calc(100% - 240px);
  color: color.$base-color;
  font-family: font.$font-ja;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.63;
  @include mixin.mq(tab) {
    width: calc(100% - 230px);
  }
  @include mixin.mq(sp) {
    width: 95%;
    font-size: 1.19rem;
    margin-top: 4px;
  }
}

.infomation__list{
    text-indent:-1em;
    padding-left:1em;
    @include mixin.mq(sp) {
        padding-left:1.5em;
    }
}

.infomation__list::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #000;
   
}
.infomation__link{
    border-bottom:1px solid color.$base-color;
}
.infomation__bg{
  @include mixin.mq(sp) {
    margin-top: 32px;
  }
    img{
        width: 100%;
        height: 400px;
        @include mixin.mq(tab) {
            height: 100%;
        }
        @include mixin.mq(sp) {
          height: 120px;
        }
    }
}



