@use "mixin";
@use "color";
@use "font";

/*================================
step
===============================*/
.step {
  margin-top: 80px;
  padding: 40px 0;
  background: color.$main-color2;
  overflow: hidden;

  @include mixin.mq(sp) {
    padding: 37px 0 37px;
    margin-top: 30px;
  }
}

.step__inner {
}
.step__image-bg {
  position: relative;
  max-width: 900px;
  margin: 0 auto;

  @include mixin.mq(sp) {
    max-width: 370px;
  }
}
.step__image-bg1 {
  width: 420px;
  position: absolute;
  top: -60px;
  left: -260px;
  @include mixin.mq(tab) {
    width: 280px;
    top: 20px;
    left: -100px;
  }
  @include mixin.mq(sp) {
    width: 149px;
    left: -20px;
    top: -15px;
  }
}
.step__image-bg2 {
  width: 100px;
  position: absolute;
  bottom: -800px;
  left: -270px;
  @include mixin.mq(tab) {
    width: 60px;
    bottom: -600px;
    left: -90px;
  }
  @include mixin.mq(sp) {
    width: 55px;
    bottom: -670px;
    left: 5px;
  }
}
.step__image-bg3 {
  width: 238px;
  position: absolute;
  top: -30px;
  right: -80px;
  z-index: 2;
  @include mixin.mq(tab) {
    width: 180px;
    top: 0px;
    right: 5px;
  }
  @include mixin.mq(sp) {
    width: 105px;
    top: 0px;
    right: 24px;
  }
}
.step__image-bg4 {
  width: 214px;
  position: absolute;
  top: -20px;
  right: -205px;
  z-index: 2;
  @include mixin.mq(tab) {
    width: 160px;
    top: 30px;
    right: -95px;
  }
  @include mixin.mq(sp) {
    width: 94px;
    top: 3px;
    right: -28px;
  }
}
.step__image-bg5 {
  width: 100px;
  position: absolute;
  top: 150px;
  right: -270px;
  z-index: 1;
  @include mixin.mq(tab) {
    width: 60px;
    top: 160px;
    right: -130px;
  }
  @include mixin.mq(sp) {
    width: 55px;
    top: 75px;
    right: 20px;
  }
}
.step__top {
  text-align: center;
  margin-left: -10px;
}

.section__image {
  img {
    width: 48px;
    margin: 0 auto;

    @include mixin.mq(sp) {
      width: 37px;
    }
  }
}

.step__sub-title {
  margin-top: 8px;
  @include mixin.mq(sp) {
    margin-top: 5px;
  }
}

.step__title {
  margin-top: 10px;
  padding-bottom: 3px;

  @include mixin.mq(sp) {
    margin-top: 6px;
    margin-bottom: 40px;
  }
}

.step__items {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 60px;

  @include mixin.mq(tab) {
    gap: 0px;
  }
  @include mixin.mq(sp) {
    flex-direction: column;
    max-width: 375px;
    margin: 0 auto;
  }
}

.step__item {
  text-align: center;
  position: relative;

  &:nth-child(1) {
    margin-left: 18px;

    @include mixin.mq(sp) {
      margin-left: 0;
      margin-top: -5px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 210px;
      right: -80px;
      width: 113px;
      height: 24px;
      background: url(../img/step-lines.png) no-repeat;
      z-index: 5;

      @include mixin.mq(tab) {
        top: 120px;
        width: 90px;
        right: -40px;
      }
      @include mixin.mq(sp) {
        display: none;
      }
    }
  }

  &:nth-child(2) {
    margin-top: 70px;

    @include mixin.mq(sp) {
      &::before {
        content: "";
        position: absolute;
        top: -82px;
        right: 189px;
        width: 134px;
        height: 80px;
        transform: rotate(180deg);
        background: url(../img/sp/step__line-sp.png) no-repeat;
        z-index: 5;
      }
    }

    @include mixin.mq(sp) {
      margin-top: -5px;
      margin-left: -3px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 140px;
      right: -80px;
      width: 113px;
      height: 24px;
      background: url(../img/step-lines.png) no-repeat;
      z-index: 5;

      @include mixin.mq(tab) {
        top: 60px;
        width: 90px;
        right: -30px;
      }
      @include mixin.mq(sp) {
        display: none;
      }
    }
  }
}

.step__item:nth-child(3) {
  @include mixin.mq(sp) {
    &::before {
      content: "";
      position: absolute;
      top: -82px;
      right: 189px;
      width: 134px;
      height: 80px;
      transform: rotate(180deg);
      background: url(../img/sp/step__line-sp.png) no-repeat;
      z-index: 5;
    }
  }
  @include mixin.mq(sp) {
    margin-top: -8px;
  }
}
.step__item-image {
  img {
    width: 280px;
    margin: 0 auto;
    @include mixin.mq(tab) {
      width: 220px;
    }
    @include mixin.mq(sp) {
      width: 196px;
    }
  }
}

.step__item-title {
  margin-top: 30px;
  color: color.$base-color;
  font-family: font.$font-ja;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  @include mixin.mq(tab) {
    font-size: 1.6rem;
  }
  @include mixin.mq(sp) {
    margin-top: 14px;
    font-size: 1.6rem;
  }
}

.step__item-text {
  margin-top: 16px;
  color: color.$base-color;
  font-family: font.$font-ja;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  a {
    border-bottom: 1px solid color.$base-color;
  }
  @include mixin.mq(tab) {
    font-size: 1.4rem;
  }
  @include mixin.mq(sp) {
    font-size: 1.2rem;
    margin-top: 15px;
  }
}

.step__item-link {
  margin-top: 16px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  @include mixin.mq(tab) {
    padding: 6px 14px;
    gap: 6px;
    width: 230px;
  }
  @include mixin.mq(sp) {
    padding: 6px 14px;
    gap: 6px;
    width: 230px;
    margin: 18px auto 0;
  }
  img {
    width: 24px;
    @include mixin.mq(tab) {
      width: 20px;
    }
    @include mixin.mq(sp) {
      width: 20px;
    }
  }
  a {
    display: block;
    color: color.$base-color;
    font-family: font.$font-ja;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.6;
    @include mixin.mq(tab) {
      font-size: 1.4rem;
    }
    @include mixin.mq(sp) {
      font-size: 1.4rem;
    }
  }
}

.step__bottom-link {
  text-align: center;
  margin-top: 50px;
  @include mixin.mq(sp) {
    margin-top: 14px;
  }

  a {
    display: inline-block;
    padding: 10px 40px;
    font-size: 2rem;
    @include mixin.mq(tab) {
      font-size: 1.6rem;
      padding: 8px 32px;
    }
    @include mixin.mq(sp) {
      font-size: 1.6rem;
      padding: 4px 16px;
    }
  }
}
